.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-size: 18px;
}

.new-quote-bnt {
  margin: 20px;
  padding: 10px;
  font-family: monospace;
  font-size: 0.8em;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #000000bf;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  outline: none;
}

.new-quote-bnt:active {
  box-shadow: none;
}
